.navbar {
    box-sizing: border-box;
    height: 48px;
    padding: 0 15px;
    background-color: #212121;
}

.navbar.shadow {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.navbar .logo {
    float: left;
    height: 48px;
    margin-right: 10px;
    line-height: 48px;
}

.navbar .logo img {
    vertical-align: middle;
}

.navbar .logo img.big {
    display: none;
}

.navbar nav {
    float: left;
    position: relative;
    height: 48px;
}

.navbar nav .mdi-menu {
    display: inline-block;
    line-height: 46px;
    color: #fff;
    cursor: pointer;
}

.navbar nav .mdi-menu:before {
    vertical-align: middle;
}

.navbar nav > ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: -5px;
    top: 48px;
    background-color: #212121;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.navbar nav:hover > ul {
    visibility: visible;
    opacity: 1;
}

.navbar nav > ul > li {
    display: block;
    position: relative;
    margin: 5px 0;
    border-left: 2px solid #212121;
    transition: 0.5s;
}

.navbar nav > ul > li:hover {
    background-color: #313131;
    border-left: 2px solid #039be5;
}

.navbar nav > ul > li:active {
    border-left: 2px solid #ff5722;
}

.navbar nav > ul > li > a {
    display: block;
    padding: 5px 30px 5px 30px;
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 12px;
    color: #0277bd;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.5s;
}

.navbar nav > ul > li:hover > a {
    color: #039be5;
}

.navbar nav > ul > li:active > a {
    color: #ff5722;
}

.navbar nav > ul > li > div {
    position: absolute;
    right: 5px;
    top: 3px;
}

.navbar nav > ul > li > div > i {
    visibility: hidden;
    opacity: 0;
    color: #fff;
    transition: 0.5s;
}

.navbar nav > ul > li:hover > div > i {
    visibility: visible;
    opacity: 1;
}


.navbar nav > ul > li > div > ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: -2px;
    top: -8px;
    background-color: #212121;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.navbar nav > ul > li > div:hover > ul {
    visibility: visible;
    opacity: 1;
}

.navbar nav > ul > li > div > ul > li {
    display: block;
    position: relative;
    margin: 5px 0;
    border-left: 2px solid #212121;
    transition: 0.5s;
}

.navbar nav > ul > li > div > ul > li:hover {
    background-color: #313131;
    border-left: 2px solid #039be5;
}

.navbar nav > ul > li > div > ul > li:active {
    border-left: 2px solid #ff5722;
}

.navbar nav > ul > li > div > ul > li > a {
    display: block;
    padding: 5px 30px 5px 30px;
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 12px;
    color: #0277bd;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.5s;
}

.navbar nav > ul > li > div > ul > li:hover > a {
    color: #039be5;
}

.navbar nav > ul > li > div > ul > li:active a {
    color: #ff5722;
}

.navbar nav > ul > li > div > ul > li:first-child > a:before {
    content: "\F35F";
    position: absolute;
    left: 0;
    top: 3px;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 16px;
    color: #0277bd;
    transition: 0.5s;
}

.navbar nav > ul > li > div > ul > li:first-child:hover a:before {
    color: #039be5;
}

.navbar nav > ul > li > div > ul > li:first-child:active a:before {
    color: #ff5722;
}

.navbar .breadcrumbs {
    float: left;
    margin-left: 10px;
}

.navbar .breadcrumbs ul {
    float: left;
}

.navbar .breadcrumbs ul li {
    display: none;
    float: left;
    box-sizing: border-box;
    height: 48px;
    border-bottom: 2px solid #212121;
    transition: 0.5s;
}

.navbar .breadcrumbs ul li:hover {
    border-bottom: 2px solid #039be5;
}

.navbar .breadcrumbs ul li:first-child:hover,
.navbar .breadcrumbs ul li:active:hover,
.navbar .breadcrumbs ul li.active:hover {
    border-bottom: 2px solid #ff5722;
}

.navbar .breadcrumbs ul li a {
    display: block;
    height: 48px;
    padding: 0 5px;
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 12px;
    line-height: 50px;
    color: #0277bd;
    text-decoration: none;
    transition: 0.5s;
}

.navbar .breadcrumbs ul li:hover a {
    color: #039be5;
}

.navbar .breadcrumbs ul li:first-child a,
.navbar .breadcrumbs ul li:active a,
.navbar .breadcrumbs ul li.active a {
    color: #ff5722;
}

.navbar .breadcrumbs ul li:first-child {
    display: block;
}

.navbar .breadcrumbs ul li:first-child a {
    line-height: 48px;
}

.navbar .buttons {
    float: right;
    height: 48px;
    line-height: 48px;
}

.navbar .buttons a {
    float: left;
    color: #fff;
    padding: 0 3px;
}
