@font-face {
    font-family: Roboto-Thin;
    src: local(Roboto);
    font-weight: 100;
}

@font-face {
    font-family: Roboto-Light;
    src: local(Roboto);
    font-weight: 300;
}

@font-face {
    font-family: Roboto-Regular;
    src: local(Roboto);
    font-weight: 400;
}

@font-face {
    font-family: Roboto-Medium;
    src: local(Roboto);
    font-weight: 500;
}

@font-face {
    font-family: Roboto-Bold;
    src: local(Roboto);
    font-weight: 700;
}

@font-face {
    font-family: Roboto-Black;
    src: local(Roboto);
    font-weight: 900;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    padding-top: 48px;
    background: url('../img/patternchip.gif');
}

body > header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    z-index: 1;
}

.navbar {
    box-sizing: border-box;
    width: 1170px;
    height: 48px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #212121;
}

.navbar:after {
    content: '';
    display: block;
    clear: both;
}

.navbar.shadow {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.navbar .logo {
    float: left;
    height: 48px;
    margin-right: 10px;
    line-height: 48px;
}

.navbar .logo img {
    vertical-align: middle;
}

.navbar nav > ul {
    float: left;
}

.navbar nav > ul:after {
    content: '';
    display: block;
    clear: both;
}


.navbar nav > ul > li {
    float: left;
    position: relative;
    box-sizing: border-box;
    height: 48px;
    border-bottom: 2px solid #212121;
    color: #0277bd;
    transition: 0.3s;
}

.navbar nav > ul > li > a {
    display: block;
    height: 48px;
    padding: 0 5px;
    line-height: 48px;
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}

.navbar nav > ul > li:hover {
    border-bottom: 2px solid #039be5;
    color: #039be5;
}

.navbar nav > ul > li:active {
    border-bottom: 2px solid #ff5722;
    color: #ff5722;
}

.navbar nav > ul > li > ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #212121;
    left: 0;
    top: 45px;
    border-top: 2px solid transparent;
    transition: 0.3s;
    z-index: 1;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.7)
}

.navbar nav > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    border-top: 2px solid #039be5;
}

.navbar nav > ul > li > ul li {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 5px 0;
    border-left: 2px solid #212121;
    color: #0277bd;
    transition: 0.3s;
}

.navbar nav > ul > li > ul li:hover {
    background-color: #313131;
    border-left: 2px solid #039be5;
    color: #039be5;
}

.navbar nav > ul > li > ul li:active {
    border-left: 2px solid #ff5722;
    color: #ff5722;
}

.navbar nav > ul > li > ul li a {
    display: block;
    padding: 5px 30px 5px 30px;
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

.navbar nav > ul > li > ul li div {
    position: absolute;
    right: 5px;
    top: 3px;
}

.navbar nav > ul > li > ul li div i {
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

.navbar nav > ul > li > ul li:hover > div > i {
    visibility: visible;
    opacity: 1;
}

.navbar nav > ul > li > ul li div ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: -2px;
    top: -8px;
    background-color: #212121;
    transition: 0.3s;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.7)
}

.navbar nav > ul > li > ul > li > div:hover > ul {
    visibility: visible;
    opacity: 1;
}

.navbar nav > ul > li > ul li div ul li:first-child a:before {
    content: "\F35F";
    position: absolute;
    left: 0px;
    top: 3px;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 16px;
    color: inherit;
}

.navbar nav.in-section > ul > li > a {
    font-size: 12px;
}

.navbar nav.in-section > ul > li.active > a {
    color: #ff5722;
}

.navbar nav.in-section > ul > li.active:hover {
    border-bottom: 2px solid #ff5722;
}

.navbar nav.in-section > ul > li:nth-child(2) > a {
    color: #ff5722;
    font-size: 18px;
}

.navbar nav.in-section > ul > li:nth-child(2):hover {
    border-bottom: 2px solid #ff5722;
}

.navbar nav.in-section > ul > li:nth-child(2) > a:after {
    content: ' -';
}

.navbar nav.in-section > ul > li:first-child i {
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 5px;
    color: #fff;
    font-size: 18px;
}

.navbar nav.in-section > ul > li:first-child:hover i {
    color: #039be5;
}

.navbar nav.in-section > ul > li:first-child > ul > li > a {
    font-size: 18px;
}

main {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
    background: #eee;
}

article {
    padding: 20px;
}

article h1 {
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 30px;
    color: #3b3b3b;
    margin-bottom: 15px;
}

.fly-block {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    margin-bottom: 20px;
}

.fly-block .title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #3b3b3b;
}

.fly-block .title button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: none;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.fly-block .body {
    border-top: 1px solid #939393;
    padding: 15px;
}

.news .info {
    display: flex;
    color: #8b8b8b;
    line-height: 24px;
    margin-bottom: 20px;
}

.news .info div {
    margin-right: 15px;
}

.news .info div * {
    display: inline-block;
    vertical-align: middle;
}

.news .info i {
    font-size: 20px;
}

.news .info b {
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 12px;
}

.news .info span {
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 12px;
}

.news .info a {
    color: #8b8b8b;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 12px;
}

.news .info .author {
    background-color: #dedede;
    padding: 0 15px;
    border-radius: 13px;
}

.news .info .tags li {
    background-color: #dedede;
    padding: 0 15px;
    border-radius: 13px;
    margin: 0 2px;
}

.news aside.left {
    float: left;
    width: 165px;
    position: relative;
}

.news aside.right {
    float: right;
    width: 240px;
    height: 100%;
    position: relative;
}

.news .content {
    margin: 0 240px 0 165px;
    padding: 0 30px;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #3b3b3b;
}

.news .content h2 {
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.news .content p {
    margin-bottom: 20px;
}

.news .content a {
    color: #0277bd;
}

.news .content img {
    display: block;
    width: 100%;
    height: auto;
}

.news .content img.full-width {
    margin-left: -215px;
    width: 1170px;
}

.news .content .text-help {
    position: relative;
}

.news .content .text-help div {
    position: absolute;
    left: -195px;
    width: 165px;
}

.news aside.left div {
    border-top: 1px solid #939393;
    color: #8f8f8f;
    margin-bottom: 50px;
}

.news aside.left h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 12px;
}

.news aside.left p {
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 10px;
}

.last-news {
    padding: 30px 20px;
    border-top: 1px solid #939393;
}

.last-news h1 {
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 24px;
    color: #3b3b3b;
    margin-bottom: 20px;
}

.last-news ul {
    display: flex;
    justify-content: space-between;
}

.last-news img {
    float: left;
    width: 165px;
    height: 96px;
}

.last-news p {
    background-color: #fff;
    box-sizing: border-box;
    width: 195px;
    height: 96px;
    margin-left: 165px;
    padding: 10px 15px;
}

.last-news a {
    display: block;
    height: 64px;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #3b3b3b;
}

.last-news span {
    display: block;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 10px;
    color: #3b3b3b;
}

.last-news span i {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.calendar ul {
    display: flex;
    justify-content: space-between;
}

.calendar .names {
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 12px;
    color: #8f8f8f;
    margin-bottom: 15px;
}

.calendar .dates {
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 14px;
    color: #8f8f8f;
}

.calendar .dates a {
    color: #3b3b3b;
}

.calendar .dates a.active {
    color: #ff5722;
}

.theme-news {
    width: 280px;
}

.theme-news .title {
    padding-left: 15px;
}

.theme-news .body {
    padding: 0;
}

.theme-news .body img {
    display: block;
    width: 100%;
}

.theme-news .body p {
    padding: 15px
}

.theme-news .body a {
    display: block;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #3b3b3b;
    margin-bottom: 10px;
}

.theme-news .body span {
    display: block;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 10px;
    color: #8f8f8f;
}

.theme-news .body span i {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.shop-products {
    width: 280px;
}

.shop-products .title {
    padding-left: 15px;
}

.shop-products .body:after {
    content: '';
    display: block;
    clear: both;
}

.shop-products .body img {
    float: left;
}

.shop-products .body p {
    margin-left: 140px;
}

.shop-products .body p a {
    display: block;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #3b3b3b;
    margin-bottom: 5px;
}

.shop-products .body span {
    display: block;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 10px;
    color: #8f8f8f;
}

.shop-products .body span i {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.shop-products .body span b {
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 10px;
    color: #8f8f8f;
}

.shop-products .body span a {
    display: inline;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 10px;
    color: #8f8f8f;
}

.shop-products .body span.price {
    text-align: center;
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 16px;
    color: #3b3b3b;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shop-products .body a.more {
    text-align: center;
    background-color: #0277bd;
    color: #fff;
    font-family: Roboto-Medium, arial, sans-serif;
    font-size: 14px;
    padding: 10px 0;
    text-decoration: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.shop-products .body:last-child span:first-child {
    margin-bottom: 10px;
}


footer {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
    background-color: #eee;
    border-top: 1px solid #939393;
    text-align: center;
    font-family: Roboto-Light, arial, sans-serif;
    font-size: 12px;
    padding: 30px;
}

footer .logo {
    margin-bottom: 20px;
}

footer .logo a {
    display: inline-block;
}








